<div class="left_box">
<div class="news">
	<% if @news && @news.count>0 %>
	<h1>Новости</h1>
	<div class="news_box">
		<% @news.each do |n|%>
			<dl>
				<dt>
					<%= n.date.strftime("%d.%m.%Y") %><br/>
					<b><%= link_to n.title, "#"%></b>
				</dt>
				<dd>
					<%= n.anounce.html_safe %>
					<!--<div align="left">
						<%= link_to "Читать дальше", "#"%>
					</div>-->
				</dd>
			</dl>
		<% end %>
	</div>

	<% end %>
</div>



</div>

<div class="right_box">
	<h1>Статистика</h1>
	<div class="statistics_block">
		<b>Всего квартир: <%= @room.count %></b><br/>
		<span>Свободных квартир - <%= Room.active.count %></span><br/>
		<span>Однокомнатные - <%= Room.active.where(:count_rooms => 1).count %></span><br/>
		<span>Двухкомнатные - <%= Room.active.where(:count_rooms => 2).count %></span><br/>
		<span>Трехкомнатные - <%= Room.active.where(:count_rooms => 3).count %></span><br/>
	</div>
</div>
<div class="clear"></div>

<div class="partners">
	<% if @partners && @partners.count>0 %>
		<hr size="1" color="#ccc"/>
	<h1>Наши партнеры</h1>
		<% @partners.each do |p| %>
			<div class="image">
				<%= image_tag p.img.url(:medium)%>
			</div>
		<% end %>
		<hr size="1" color="#ccc"/>
	<% end %>
</div>
