<div id='room_box' class='plan_<%= params[:id]%>'>
	<h2 class="plan_title"><%= link_to @object.title, object_path(@object.id), :remote=>true  %> / <%= link_to "ЭТАЖ#{@room.plan.floor}", plan_floor_path(@object.id, @room.plan), :remote=>true %> / Квартира №:<%= @room.number_room %> </h2>
	<div class="padding"></div>
	<h1 class="title"><%= "#{@room.count_rooms} комнатная квартира" unless @room.count_rooms.nil? %> </h1>
	
	<%= render 'left_block' %>
	<div class="right_block">
		
		<div class="image">
			<%= image_tag @room.img.url(:medium)%>
		</div>
		<div class="options">
		<h1>Параметры квартиры:</h1>
			<% unless @room.area_all.blank? %>
				<div class="item">
					<span class="label">Общая площадь:</span><label  class="blue digit"><%= @room.area_all %></label>м<sup>2</sup>
				</div>
			<% end %>
			<% unless @room.area_living_room.blank? %>
				<div class="item">
					<span class="label">Жилая площадь:</span><label class="blue digit"><%= @room.area_living_room %></label>м<sup>2</sup>
				</div>
			<% end %>
			<% unless @room.area_kitchen.blank? %>
				<div class="item">
					<span class="label">Площадь кухни:</span><label class="blue digit"><%= @room.area_kitchen %></label>м<sup>2</sup>
				</div>
			<% end %>
			<% unless @room.area_room_1.blank? %>
				<div class="item">
					<span class="label">Площадь комнаты 1: </span><label class="blue digit"><%= @room.area_room_1 %></label>м<sup>2</sup>
				</div>
			<% end %>
			<% unless @room.area_room_2.blank? %>
				<div class="item">
					<span class="label">Площадь комнаты 2: </span><span class="blue digit"><%= @room.area_room_2 %></span>м<sup>2</sup>
				</div>
			<% end %>
			<% unless @room.area_room_3.blank? %>
				<div class="item">
					<span class="label">Площадь комнаты 3: </span><span class="blue digit"><%= @room.area_room_3 %></span>м<sup>2</sup>
				</div>
			<% end %>
			<% unless @room.area_wc_room.blank? %>
				<div class="item">
					<span class="label">Площадь санузла: </span><span class="blue digit"><%= @room.area_wc_room %></span>м<sup>2</sup>
				</div>
			<% end %>
			<% unless @room.area_bathroom_room.blank? %>
				<div class="item">
					<span class="label">Площадь ванной-комнаты: </span><span class="blue digit"><%= @room.area_bathroom_room %></span>м<sup>2</sup>
				</div>
			<% end %>
			<% unless @room.area_loggia.blank? %>
				<div class="item">
					<span class="label">Площадь лоджии: </span><span class="blue digit"><%= @room.area_loggia %></span>м<sup>2</sup>
				</div>
			<% end %>
			<% unless @room.description.blank? %>

			<% end %>
			<div class="item">
				<br/><br/>
				<span class="brone link">
					<%= link_to "Оставить заявку", feedback_order_path, :remote=>true %>
				</span>
				<br/><br/>
			</div>
		</div>
	</div>
</div>
