<div id='plan_box' class='plan_<%= params[:id]%>'>
	<h2 class="plan_title">Планировка <%= params[:floor]%> - го этажа </h2>
	<div class="left_block">
		<div class="each_floors">
			
			Выберите этаж:
			<% i=0 %>
			<% @object.floors_int.times do %>
				<%= link_to i=i+1, plan_floor_path(@object.id, i), :remote=>true, :class=>"#{current(i, params[:floor])} blue" %> | 
			<% end %>
		</div>
		<div class="clear"></div>
		<%= image_tag "kompas-32.png"%>
	</div>
	<div class="right_block">
		<%= image_tag @plan.img.url(:medium)%>
	</div>
</div>