<div id='floor_plan_box' class='plan_<%= params[:id]%>'>
	<h2 class="plan_title"><%= link_to @object.title, object_path(@object.id), :remote=>true  %> / Планировка <%= params[:floor]%>-го этажа </h2>
	<%= render 'left_block'%>
	<div class="right_block">
		<%= image_tag @plan.img.url(:medium)%>
	</div>
</div>